*{
  font-family: sans-serif;
}
body{
  margin: auto;
  padding: 15px;
  background-color: black;
}
.container{
  margin: auto;
  height: 90vh;
  width: 85%;
  background-color: rgb(206, 199, 199);
  border: 0.4rem solid white;
  border-radius: 9px;

}
.divDis{
  background-color: rgb(172, 4, 172);
  width: 100%;
  height: 200px;
  color: white;
  padding-top: 15px ;
  justify-items: center;
  border-radius: 9px 9px 0px 0px;
}
.metricT{
  margin-top: 10px;
  background-color: transparent;
  justify-items: center;
  width: 100%;
}
.input{
  background-color: transparent;
  border: 1.5px solid lightgray;
  display: block;
  margin-bottom: 15px;
  height: 60px;
  width: 15%;
  color: white;
  font-size: 40px;
  padding: 6px;
  font-weight: 600;
}
.LenT, .Mass, .Vol {
  height: 100px;
  width: 90%;
  background-color: white;
  justify-items: center;
  align-content: center;
  margin: 8px 0px 8px 0px;
}
.convertB{
  padding: 8px;
  behavior: inherit;
  margin: auto;
  border-radius: 2px;
  border: none;
  font-weight: 600;
  margin-left: 45%;
  cursor: pointer;
}